body {
  background: linear-gradient(
    90deg,
    rgba(200, 0, 223, 1) 0%,
    rgba(67, 0, 117, 1) 49%,
    rgba(0, 0, 0, 1) 94%
  );
  font-family: "Trispace";
}


/* Stylizing */

.box_settings {
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid white;
  box-shadow: 1px 1px 15px white;
}

.text_settings {
  color: white;
}

.display_settings {
  margin-left: 50px;
}

.logo_settings {
  width: 140px;
  cursor: pointer;
  transform: scaleX(-1);
  animation-delay: 200ms;
  filter: invert(0%);
}

/* Buttons */

button:hover {
  text-shadow: white 0px 0 10px;
}

button:focus {
  outline: none;
  box-shadow: none !important;
}

.index_button,
.link_button {
  background-color: transparent;
  border: none;
  margin: 10px 0px;
}

.index_button {
  width: 200px;
}

/* Accordion button */

.accordion-button {
  display: block;
  text-align: center;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.accordion-button:not(.collapsed) {
  color: white;
}



/* Card and menu */

#card_group {
  height: 830px;
  overflow: hidden;
  padding: 10px;
}

.card_settings {
  height: 800px;
  margin-left: 40px;
}

/*
.index > .container-fluid {
  display: flex;
  align-items: flex-end;
  flex-direction: row-reverse;
  justify-content: flex-start;
}
*/

/* Media Query */

/* Small */
@media (max-width: 768px) {
  .display_lg,
  #card_group {
    display: none;
  }
  .display_settings {
    margin-right: 20px;
    margin-left: 20px;
  }
}

/* Large */
@media (min-width: 769px) {
  .display-sm {
    display: none;
  }
}
