/* Small */

@media (max-width: 768px) {
    .display_lg,
    #card_group {
      display: none;
    }
    .display_settings {
      margin-right: 20px;
      margin-left: 20px;
    }

    body {
      min-height: 100vh;
    }
  }
  

  /* Large */

  @media (min-width: 769px) {
    .small_menu {
      display: none;
    }
  }
  