/* Card and menu */

#card_group {
    height: 820px;
    overflow: hidden;
   
  }
  
  .card_settings {
    height: 800px;
    margin-left: 40px;
  }

  .box_settings {
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid white;
    box-shadow: 1px 1px 15px white;
  }

  .display_settings {
    margin-left: 50px;
  }
  
