body {
 background-image: url(/Ressource/Image/722829.jpg);
 background-size: cover;
 background-repeat: no-repeat;
 background-position:center
  
}

.logo_settings {
  width: 140px;
  cursor: pointer;
  transform: scaleX(-1);
  animation-delay: 200ms;
  filter: invert(0%);
}

.git_logo {
  width: 50px;
  filter: invert(100%);
}

#bubble {
  position: absolute;
  left: 110px;
  top:10px;
  width: 200px;
}