@font-face {
  font-family: VT323;
  src: url(./Font/VT323-Regular.ttf);
}

body {
    font-family: VT323;
  }

  .text_settings {
    color: white;
    text-decoration: none;
    
  }

  .card_text_settings {
    font-size: 20px;
  }
  
  .display_lg, .accordion-button {
    font-size: 25px;
  }

  #switch_english {
    color: palevioletred;
  }
