/* Small */

@media (max-width: 768px) {
    .display_lg,
    #card_group {
      display: none;
    }
    .display_settings {
      margin-right: 35px;
    }

    body {
      min-height: 100vh;
      background-size: cover;

      
    }
    

  }
  

  /* Large */

  @media (min-width: 769px) {
    .small_menu {
      display: none;
    }
    .mobile_language {
      display:none;
    }
  }
  