/* M to XS */

@media (max-width: 992px) {
  .display_lg,
  #card_group {
    display: none;
  }
  .display_settings {
    margin-right: 35px;
  }

  body {
    min-height: 100vh;
    background-size: cover;
  }

}

@media (max-width: 700px) {
  
  .mobile_flag {
    width: 45px!important;
  }

}

/* L to XXL */

@media (min-width: 993px) {

.small_menu {
    display: none;
  }
  
  #mobile_language_settings {
    display: none;
  }

  #card_group > .collapsing {
    width: 100vw;
  }
}


