.cat_settings {
    width: 140px;
    cursor: pointer;
    transform: scaleX(-1);
    animation-delay: 200ms;
    filter: invert(0%);
  }
  
  .logo_settings {
    width: 50px;
    filter: invert(100%);
  }
  
  #default_bubble {
    visibility: visible;
    position: absolute;
    left: 100px;
    top:10px;
    width: 200px;
  }
  
  .mobile_flag {
    cursor: pointer;
    width: 35px;
    border: 1px solid white;
    margin-left: 10px;
  }

  