/* Card and menu */

#card_group {
    overflow: hidden;
  }
  
  .card_settings {
    margin-left: 40px;
  }

  .box_settings {
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid white;
    box-shadow: 1px 1px 15px white;
  }

  .display_settings {
    margin-left: 50px;
  }
  
   .mobile_language {
    position:absolute;
    width: 110px;
    top: 10px;
    right : 20px;
    padding: 0px;
  }