@font-face {
  font-family: VT323;
  src: url(/Style/Font/VT323-Regular.ttf);
}

body {
    font-family: VT323;
  }

a {
  color:yellow;
}

.title {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

  .text_settings {
    color: white;
    text-decoration: none; 
  }

  .mobile_text {
    font-size:20px;
  }

  .card_text_settings {
    font-size: 25px;
  }
  
  .display_lg, .accordion-button {
    font-size: 25px;
  }

  .fr {
    display:none
  }